<div class="menu">
  <div class="menu-item">
    <a [routerLink]="['/tournaments']">
      <img src="/assets/img/tournaments.jpeg" alt="Tournaments" /><br />
      <span>Tournaments</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/">
      <img src="/assets/img/players.jpeg" alt="Players" /><br />
      <span>Players</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/">
      <img src="/assets/img/teams.jpeg" alt="Teams" /><br />
      <span>Teams</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/">
      <img src="/assets/img/coaches.jpeg" alt="Coaches" /><br />
      <span>Coaches</span>
    </a>
  </div>
</div>
