<mat-form-field class="search">
  <mat-label>Search</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Enter player`s name... "
  />
</mat-form-field>

<button mat-raised-button (click)="openAddDialog()">Add player</button>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="photo">
    <th class="header" mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let player"></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let player">
      {{ player.fullName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Country"
    >
      Country
    </th>
    <td mat-cell *matCellDef="let player">
      <img class="flag" src="/assets/img/countries/{{ player.country }}.png" />
      {{ player.country }}
    </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Team"
    >
      Team
    </th>
    <td mat-cell *matCellDef="let player">
      <img src="/assets/img/teamLogo/{{ player.team.logo }}" class="teamLogo" />
      {{ player.team.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by PositionLul"
    >
      Position
    </th>
    <td mat-cell *matCellDef="let player">{{ player.position }}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th class="header" mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let player">
      {{ player.age }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let player; columns: columnsToDisplay"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 25, 50, 100]"
  class="paginator"
></mat-paginator>
