.panel-title {
  font-size: 18px;
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.flag {
  height: 16px;
  width: 16px;
  margin-right: 6px;
  border-radius: 0%;
}

.teamLogo {
  width: 24px;
  height: 24px;
  border-radius: 90%;
  object-fit: scale-down;
}

.item-list {
  display: flex;
  justify-content: space-around;

  /* width: 100%; */
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid;
  margin-bottom: 10px;
  font-size: medium;
}

.left-a,
.right-a {
  text-decoration: none;
  width: 30%; /* Фіксована ширина для бокових <a> елементів */
  text-align: center; /* Центрування тексту в середині <a> елементів */
  color: rgb(62, 0, 232);
  font-size: 15px bold;
}

.center-a {
  width: 40%; /* Більша ширина для центрального <a> елемента */
  text-align: center; /* Центрування тексту в середині <a> елемента */
}

.links {
  margin-top: 20px;
}

.link {
  margin-right: 20px;
  color: rgb(59, 57, 57);
}
.control-buttons {
  width: 50%;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.control-buttons button {
  position: relative;
  display: block;
  right: 0%;
}
.description p {
  width: 40%;
  color: brown;
  margin-right: 10%;
  position: relative;
  text-align: center;
}
