<div class="wrapper">
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let t of tournaments"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title">
          <img src="/assets/img/tournaments/{{ t.id }}.jpg" class="" /> &emsp;
          {{ t.name }}
        </mat-panel-title>
        <mat-panel-description class="description">
          <img class="flag" src="/assets/img/countries/{{ t.location }}.png" />
          <p>{{ t.location }}</p>
          <div class="control-buttons" *ngIf="authService.isAdmin()">
            <button mat-mini-fab color="warn" (click)="onDelete(t.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let m of t.matches" class="item-list">
        <div class="item">
          <a [routerLink]="['/teams', m.homeTeam.id]" class="left-a">
            <img
              src="/assets/img/teamLogo/{{ m.homeTeam.logo }}"
              class="teamLogo"
            />{{ m.homeTeam.name }}
          </a>
          <p class="center-a">
            {{ m.matchDateTime | date : "MMM dd, yyyy 'at' hh:mm a" }}
          </p>
          <a [routerLink]="['/teams', m.awayTeam.id]" class="right-a">
            <img
              src="/assets/img/teamLogo/{{ m.awayTeam.logo }}"
              class="teamLogo"
            />
            {{ m.awayTeam.name }}
          </a>
        </div>
        <br />
        <br />
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="links">
    <span>
      <button
        mat-raised-button
        class="link"
        [routerLink]="['/matches/new']"
        *ngIf="authService.isAdmin()"
      >
        New Match
      </button>
      <button
        mat-raised-button
        class="link"
        [routerLink]="['/tournaments/new']"
        *ngIf="authService.isAdmin()"
      >
        New Tournament
      </button>
    </span>
  </div>
</div>
