<div>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let t of tournaments"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="/assets/img/{{ t.id }}.jpg" class="" /> &emsp;
          {{ t.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ t.location }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let m of t.matches" class="item-list">
        <a [routerLink]="['/teams', m.homeTeam.teamId]" class="left-a">
          <img
            src="/assets/img/teamLogo/{{ m.homeTeam.logo }}"
            class="teamLogo"
          />{{ m.homeTeam.name }}
        </a>

        <a class="center-a">{{
          m.matchDateTime | date : "MMM dd, yyyy 'at' hh:mm a"
        }}</a>

        <a [routerLink]="['/teams', m.awayTeam.teamId]" class="right-a">
          <img
            src="/assets/img/teamLogo/{{ m.awayTeam.logo }}"
            class="teamLogo"
          />
          {{ m.awayTeam.name }}
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
